@media (min-aspect-ratio:3/2) {
	html {
		font-size: 2vmin;
	}
	body {
		background-color: green;
	}
	div.body {
		--gap: .5em 1em;
		display: grid;
		gap: var(--gap);
		padding: var(--gap);
		grid-template-rows: auto 1fr;
		grid-template-columns: auto auto;
		form, div.options {
			display: contents;
		}
	}
	fieldset {
		align-self: start;
		& > div {
			grid-template-columns: repeat(auto-fill, auto);
		}
	}
	#affichage {
		grid-column: 1 / -1;
		grid-row: 2;
	}
}
