@import "./src/_variables.scss";
// @import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,700,900&display=swap');
@import url('src/saira.css');
@font-face {
	font-family: smile;
	src: url(Smile2Me-Regular.ttf);
}
:root {
	--hue: 140;
	--sat: 30%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family:saira;
	font-size: 1.1vw;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: hsl(var(--hue), var(--sat), 30%);
}
#app {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
	& > header, & > footer {
		background-color: transparent;
	}
	& > header {
		order: -100;
	}
	& > footer {
		order: 100;
	}
	& > .body {
		flex: 1 0 0;
	}
}
h1 {
	color: var(--couleur-principale-foncee);
	font-family:saira;
	font-size:3em;
	text-align:center;
	line-height: 1em;
	margin: .25em;
	font-weight: 900;
}
div#affichage {
	// @include ecran;
	font-size:1em;
}
@import "./src/_options";
span.balise {
	font-family: "Courier New";
}
span.ainsi {
	font-size:smaller;
	text-transform:uppercase;
	font-weight: bold;
}
span.separateur {
	color:#b81;
}
div.body {
	--gap: 1rem;
	display: grid;
	gap: var(--gap);
	padding: var(--gap);
	grid-template-rows: auto 1fr;
	form {
		display: contents;
	}
}
@media (max-aspect-ratio : 1 / 1) {	
	body {
		background-color: red;
	}
}
@import url("./src/question.css");
