@import url("src/saira.css");
@import url("./src/question.css");
@font-face {
  font-family: smile;
  src: url(Smile2Me-Regular.ttf);
}

:root {
  --hue: 140;
  --sat: 30%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: saira;
  font-size: 1.1vw;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(var(--hue), var(--sat), 30%);
}

#app {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

#app > header, #app > footer {
  background-color: transparent;
}

#app > header {
  -webkit-box-ordinal-group: -99;
      -ms-flex-order: -100;
          order: -100;
}

#app > footer {
  -webkit-box-ordinal-group: 101;
      -ms-flex-order: 100;
          order: 100;
}

#app > .body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

h1 {
  color: var(--couleur-principale-foncee);
  font-family: saira;
  font-size: 3em;
  text-align: center;
  line-height: 1em;
  margin: .25em;
  font-weight: 900;
}

div#affichage {
  font-size: 1em;
}

.options {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  gap: 1em;
}

.options > fieldset > div {
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.options .bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 1.5em;
}

.options .bouton input {
  display: none;
}

.options .bouton label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  padding: 0 1ch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  color: hsl(var(--hue), 33%, 30%);
  background: hsl(var(--hue), 25%, 73%);
  border-radius: .5ch;
  line-height: 1em;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  -ms-grid-columns: 1.5em 1fr;
      grid-template-columns: 1.5em 1fr;
  --taille-coche: 0.7em;
}

.options .bouton label::before, .options .bouton label::after {
  content: "";
}

.options .bouton label:hover {
  -webkit-box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
          box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.options .bouton label::before {
  content: "";
  background-color: var(--couleur-principale-pale);
  font-size: 1.5em;
  width: var(--taille-coche);
  height: var(--taille-coche);
  line-height: calc(var(--taille-coche)/2);
  text-align: center;
  border-radius: 100%;
}

.options .bouton label::after {
  content: none;
}

.options .bouton :checked + label {
  -webkit-box-shadow: -0.05em -0.05em 0.1em, 0.05em 0.05em 0.1em rgba(255, 255, 255, 0.8);
          box-shadow: -0.05em -0.05em 0.1em, 0.05em 0.05em 0.1em rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--couleur-principale-pale);
}

.options .bouton :checked + label::before {
  background-color: var(--couleur-principale-pale);
  color: black;
  content: "\2611";
  content: "\2714";
}

.options fieldset {
  text-align: center;
  background-color: var(--couleur-principale-pale);
  border: none;
  margin: 0;
}

.options fieldset > legend {
  color: var(--couleur-principale-foncee);
  font-size: smaller;
  font-weight: bold;
  font-style: italic;
  margin: auto;
  background-color: inherit;
  padding: 0 1ch;
  border-radius: .25em;
}

.options fieldset > div {
  display: -ms-grid;
  display: grid;
  gap: .5ch 1ch;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.options .actions {
  --taille-icone: 1.7em;
}

.options .actions > div {
  font-size: 150%;
}

.options .actions label::before {
  font-weight: normal;
  text-shadow: 0 0px 0px, 0 0px 0px;
  font-family: smile;
  background-color: transparent;
  width: auto;
  height: auto;
}

.options .actions #action_facile > label::before {
  font-size: calc(1.15 * var(--taille-icone));
  content: "O";
}

.options .actions #action_moyen > label::before {
  font-size: calc(1 * var(--taille-icone));
  content: "I";
}

.options .actions #action_difficile > label::before {
  font-size: calc(1.15 * var(--taille-icone));
  content: "0";
}

.options .actions #action_surprise > label::before {
  font-size: calc(1.4 * var(--taille-icone));
  content: "f";
}

span.balise {
  font-family: "Courier New";
}

span.ainsi {
  font-size: smaller;
  text-transform: uppercase;
  font-weight: bold;
}

span.separateur {
  color: #b81;
}

div.body {
  --gap: 1rem;
  display: -ms-grid;
  display: grid;
  gap: var(--gap);
  padding: var(--gap);
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

div.body form {
  display: contents;
}

@media (max-aspect-ratio: 1 / 1) {
  body {
    background-color: red;
  }
}
/*# sourceMappingURL=selecteurs.css.map */